/**
 * Dark mode support
 */
@media (prefers-color-scheme: dark) {
  body, main, #awa-page, .wiki-page-container,
  #wiki-page-list, #document-list-editor, #wiki-page-create {
    background-color: #2b2b2b;
    color: #ccc;
  }
  .flot-y-axis, .flot-x-axis {
    fill: #eee;
  }
  .project-graph {
    background: #424342;
  }
  .log-level-porion {
    color: yellow;
  }
  .log-level-warning {
    color: lightblue;
  }
  .build-info-line, .project-dashboard {
      background-color: #3b3b3b;
      border-color: #2b2b2b;
  }
  .project-dashboard li {
      border-color: #2b2b2b;
  }
  .dashboard-list {
      border-color: transparent;
  }
  .project-page-grid {
      border-color: #444546;
      border-top-color: #555;
      border-left-color: #666;
      border-bottom-width: 3px;
      border-right-width: 3px;      
  }
  .build-log {
      background-color: #4b4b4b;
  }
  .awa-menu a:hover{
      background-color: #bbb;
      color: #4b4b4b;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-border-top-left-radius: 8px;
      -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topleft: 8px;
      -moz-border-radius-topright: 8px;
  }
  .project-header .project-title {
      color: #ccc;
  }
  .awa-side-nav, .project-header .awa-menu, .node-header .awa-page-nav, .nodes-header .awa-size-nav, .activity-header .awa-page-nav  {
      background-color: #444546;
  }
  .page-REPORT_WEEK .activity-header .activity-tab-week,
  .page-REPORT_MONTH .activity-header .activity-tab-month,
  .page-REPORT_4WEEK .activity-header .activity-tab-4week,
  .page-summary .nodes-header .nodes-tab-summary,
  .page-queue .nodes-header .nodes-tab-queue,
  .page-summary .node-header .node-tab-summary,
  .page-builds .node-header .node-tab-builds,
  .page-queue .node-header .node-tab-queue,
  .page-summary .project-header .project-tab-summary,
  .page-xunits .project-header .project-tab-xunits,
  .page-builds .project-header .project-tab-builds,
  .page-coverage .project-header .project-tab-coverage {
      background: #ddd;
  }
  .page-REPORT_WEEK .activity-header .activity-tab-week a,
  .page-REPORT_MONTH .activity-header .activity-tab-month a,
  .page-REPORT_4WEEK .activity-header .activity-tab-4week a,
  .page-summary .nodes-header .nodes-tab-summary a,
  .page-queue .nodes-header .nodes-tab-queue a,
  .page-summary .node-header .node-tab-summary a,
  .page-builds .node-header .node-tab-builds a,
  .page-queue .node-header .node-tab-queue a,
  .page-summary .project-header .project-tab-summary a,
  .page-xunits .project-header .project-tab-xunits a,
  .page-builds .project-header .project-tab-builds a,
  .page-coverage .project-header .project-tab-coverage a {
      color: #454647;
  }
  div.post-text a,
  a.feed,
  div.awa-project a,
  .awa-post-more a,
  .tagedit-list li.tagedit-listelement a,
  ul.tag-cloud a {
    color: #55A6FF;
  }
  div.post-text a, ul.tag-cloud a {
    color: #55A6FF;
    text-decoration: none;
  }
  a.feed:hover,
  div.awa-project a:hover,
  .tagedit-list li.tagedit-listelement a:hover,
  ul.tag-cloud a:hover,
  div.post-text a:hover, .blog-post a:hover {
    color: #58A6FF;
  }
  div.post-text a:hover, ul.tag-cloud a:hover {
    color: #58A6FF;
  }
  div.awa-comment-list h3,
  a, div.post-text h2, div.post-text h3, div.post-text h4, div.post-text h5,
  .wiki-text h2, .wiki-text h3, .wiki-text h4, .wiki-text h5, .wiki-text h6 {
    color: #ccc;
  }
  .awa-comment div.comment-author {
    color: #bbb;
  }
  .wiki-text pre, div.post-text pre {
    background-color: #3b3b3b;
    border-color: #4b4b4b;
  }
  .wiki-toc,
  .wiki-img-thumb,
  .wiki-img-caption {
    border-color: #4b4b4b;
  }
  .wiki-image-grid span {
    background-color: #3b3b3b;      
  }
  .tagedit-list li.tagedit-listelement-old {
      background-color: #3b3b3b;
      border-color: #bfbfb0;
  }
  .tagedit-list li.tagedit-listelement-old:hover {
      background-color: #4b4b4b;
  }
  .page-tools #awa-top-nav #nav-tools a,
  .page-tutorials #awa-top-nav #nav-tutorials a,
  .page-wiki #awa-top-nav #nav-wiki a,
  .page-download #awa-top-nav #nav-download a,
  .page-news #awa-top-nav #nav-news a {
      background: #4b4b4b;
      color: #ccc;
      border-color: #eee;
   }
   div.shape, .ui-widget-content {
      background: #3b3b3b;
      border-color: #4b4b4b;
      color: #ccc;
   }
   #awa-page #storage-folder-left-panel {
      background: #3b3b3b;
   }
   #awa-page div.ui-list div.asf-active {
      background-color: #5b5b5b;
   }
   #awa-page div.storage-folder-list div.asf-active {
      background: #5b5b5b;
   }
   #awa-page div.storage-folder-list div.asf-selected {
      background: #6b6b6b;
   }
   .dropzone {
       background: #3b3b3b;
   }
   div.awa-login, div.awa-project a {
      background: #3b3b3b;
   }
   div.awa-login h2, div.awa-project a:hover, .awa-button:hover {
      background: #4b4b4b;
      color: #ccc;
   }
   dl.awa-optional label, dl.awa-required label {
      color: #ccc;
   }
   input, textarea, #storage-reupload-button {
      background: #3b3b3b;
      color: #ddd;
   }
   .xunit-group-title {
       color: #ddd;
   }
   .xunits {
       color: #bbbd;
   }

   .chart-container .legend-dataset-text, .chart-container .dataset-units, .chart-container .axis  {
        fill: #ccc;
    }
}
@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
}
@media screen and (min-width: 768px) {
    .awa-page-nav {
        max-height: none;
        top: 0;
        position: relative;
        /* float: right; */
        /* width: fit-content; */
        width: 100%;
    }
    .awa-page-nav li {
        display: block;
    }
    .awa-page-menu li {
        float: left;
    }
    .awa-page-menu a:hover {
        background-color: transparent;
        /* color: var(--gray);*/
    }

    .hamb{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .page-REPORT_WEEK .activity-header .activity-tab-week,
  .page-REPORT_MONTH .activity-header .activity-tab-month,
  .page-REPORT_4WEEK .activity-header .activity-tab-4week,
  .page-summary .nodes-header .nodes-tab-summary,
  .page-queue .nodes-header .nodes-tab-queue,
  .page-summary .node-header .node-tab-summary,
  .page-builds .node-header .node-tab-builds,
  .page-queue .node-header .node-tab-queue,
  .page-summary .project-header .project-tab-summary,
  .page-xunits .project-header .project-tab-xunits,
  .page-builds .project-header .project-tab-builds,
  .page-coverage .project-header .project-tab-coverage {
       display: block;
    }
    #awa-top-nav li a {
        font-size: 100%;
        padding-left: 5px;
        padding: 5px;
    }
    #awa-footer, body {
        background-image: none;
        font-size: 100%;
    }
    #awa-top-nav {
        width: 99%;
    }
    #awa-hdr ul {
        padding-right: 0;
    }
    #awa-hdr li {
        line-height: 0.9em;
    }
    .wiki-page-container .grid_2, .wiki-page-container .grid_10,
    .tagedit-list, .container_12 .grid_9, .container_12 .grid_3 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .tagedit-list li.tagedit-listelement {
        float: right;
    }
    h3 {
        overflow: hidden;
        width: 100%;
    }
    div.post-text div {
        max-width: 95%;
        overflow: hidden;
    }
    div.awa-project a {
        font-size: 70%;
    }
    div.awa-side1, div.awa-side2 {
        width: 100%;
        padding: 0;
    }
}
@media screen and (min-width: 960px) {
    #awa-top-nav li {
        width: 20%;
    }
}
@media screen and (max-width: 600px) {
    body{
        font-size:100%;
    }
    #awa-hdr h2 {
        font-size: 1.5em;
    }
    div.awa-modal {
	top: 5%;
    	left: 5%;
    	width: 90%;
    	max-width: 530px;
    	min-width: 320px;
    }
    .project-dashboard li {
        width: 100%;
    }
    .build-info-line li,
    .project-page-grid {
        width: 96%;
    }
    .project-recipe-list .recipe-name, .project-recipe-list .recipe-node {
	width: 40%;
    }
    .project-recipe-list .recipe-build-count {
	margin-left: 2em;
    }
    .project-recipe-list .recipe-build-count, .project-recipe-list .recipe-build-number, .project-recipe-list .recipe-test-pass,
    .project-recipe-list .recipe-test-fail, .project-recipe-list .recipe-build-count, .project-recipe-list .recipe-build-count {
	width: 10%;
    }
    .project-recipe-list .recipe-build-progress {
	width: 100%;
    }
    .recipe-name, .recipe-node, .recipe-build-count, .recipe-build-number, .recipe-test-pass, .recipe-test-fail {
        width: 95%;
    }
    /* Project builds */
    .project-build-list .build-node, .project-build-list .build-branch-name,
    .project-build-list .build-tag, .project-build-list .build-xunit,
    .project-build-list .build-duration, .project-build-list .build-date {
	width: 32%;
    }
    .project-build-list .build-number, .project-build-list .build-recipe {
	width: 20%;
    }
    .project-build-list .build-recipe {
	margin-left: 1.5em;
    }
    .project-build-list .build-duration, .project-build-list .build-date {
	text-align: left;
	float: left;
    }
    .project-build-header .build-xunit-pass, .project-build-header .build-xunit-fail, .project-build-header .build-xunit-timeout {
	display: none;
    }
    /* Build page */
    .build-step .build-step-energy, .build-step .build-step-duration {
	width: 30%;
    }
    .build-step .build-step-command {
	width: 100%;
	text-align: right;
	overflow: hidden;
    }
    /* Test page */
    .build-xunit-group .group-name {
	width: 80%;
    }
    .build-xunit-group .group-pass, .build-xunit-group .group-fail, .build-xunit-group .group-duration, .build-xunit-group .xunit-build {
	width: 20%;
    }
    .build-xunit-group .xunit-build {
	float: right;
    }
    .project-build-list .build-xunit {
        display: none;
    }
    .project-build-list .build-date {
        text-align: right;
        width: 100%;
    }
    .awa-list-header .xunit-name {
        display: none;
    }
    .xunit-group .xunit-group-title .xunit-group-name {
        width: 100%;
    }
    .xunit-pass, .xunit-fail, .xunit-timeout {
        width: 16%;
    }
}
