<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:u="http://code.google.com/p/ada-asf/util"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:util="http://code.google.com/p/ada-asf/util"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="#{project.name} - Summary" />
  <ui:param name="pageStyle" value="page-project"/>
  <ui:param name="top_nav" value="page-summary"/>

  <ui:define name="pageNav">
    <ui:include src="/WEB-INF/layouts/project-header.xhtml">
      <ui:param name="projectName" value="#{project.name}"/>
      <ui:param name="projectBuildStatus" value="#{project.build_status}"/>
    </ui:include>
  </ui:define>

  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{project.load}'/>
    </f:metadata>
    <ui:include src="views/info.xhtml"/>
    <ui:include src="lists/recipes.xhtml"/>
  </ui:define>

  <ui:define name="pageScript">
    <script type="text/javascript" src="#{contextPath}/js/frappe-charts.esm.js"></script> 
    <script type="text/javascript" src="#{contextPath}/js/projects.js"></script>
  </ui:define>

</ui:composition>
