<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:util="http://code.google.com/p/ada-asf/util"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="#{project.name} - Unit tests" />
  <ui:param name="pageStyle" value="page-project"/>
  <ui:param name="top_nav" value="page-xunits"/>

  <ui:define name="pageNav">
    <ui:include src="/WEB-INF/layouts/project-header.xhtml">
      <ui:param name="projectName" value="#{project.name}"/>
      <ui:param name="projectBuildStatus" value="#{project.build_status}"/>
    </ui:include>
  </ui:define>

  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{project.load}'/>
    </f:metadata>
      <div id='project-list-xunits' class='project-xunits'>
	<div class='awa-list-header xunit-header'>
	  <div class='awa-header-col xunit-name'>
	  </div>
	  <div class='awa-header-col xunit-pass'>
	    Pass
	  </div>
	  <div class='awa-header-col xunit-fail'>
	    Fail
	  </div>
	  <div class='awa-header-col xunit-timeout'>
	    Timeout
	  </div>
	  <div class='awa-header-col xunit-duration'>
	    Duration
	  </div>
	  <div class='awa-header-col test-build'>
	    Build
	  </div>
	</div>
      </div>
    <util:script>
    new Porion.ProjectTests({container: 'project-list-xunits', project: '#{project.name}'});
    </util:script>
  </ui:define>

  <ui:define name="pageScript">
    <script type="text/javascript" src="#{contextPath}/js/xunits.js"></script>
  </ui:define>

</ui:composition>
