<!-- Anonymous layout page (used by login, signup, registration, ...)
  -  Copyright (C) 2011, 2012, 2015, 2018 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<f:view contentType="text/html; charset=UTF-8"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:util="http://code.google.com/p/ada-asf/util"
        xmlns:f="http://java.sun.com/jsf/core"><h:doctype rootElement="html"/>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!-- DYNAMO-MERGE-START link=#{contextPath}/css/porion.css -->
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/grids/reset.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/grids/fluid_grid.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/asf.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/awa.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.uiCssPath}/jquery-ui.structure.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.uiCssPath}/jquery-ui.theme.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.chosenCssPath}"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/frappe-charts.min.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/users.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/main.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/theme.css"/>
    <!-- DYNAMO-MERGE-END -->
    <ui:insert name="pageHeader"/>
    <title>#{title}</title>
</head>
<body class="#{not empty pageStyle ? pageStyle : ''} #{top_nav}">
<!-- Top header with user account -->
<ui:include src="top-bar.xhtml"/>

<div id='awa-page' class='container_12'>
    <ui:insert name="pageBody"/>
    <div id="awa-clfooter"></div>
</div>

<ui:include src="footer.xhtml"/>

<ui:insert name="pageScript"/>

<!--DEV_START-->
<ui:debug/>
<!--DEV_END-->
<util:flush/>
</body>
</html>
</f:view>
