<!-- Footer page
  -  Copyright (C) 2011, 2012, 2018 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<footer>
    <ul>
        <li>
            <a href="https://gitlab.com/stcarrez/porion">#{layoutMsg.layout_copyright}</a>
        </li>
        <li>
            <a href="https://github.com/stcarrez/ada-awa">AWA</a>
        </li>
        <li>
            <a href="https://github.com/stcarrez/ada-asf">ASF</a>
        </li>
        <li>
            <a href="https://libre.adacore.com/libre/tools/aws/">AWS</a>
        </li>
        <li>
            <span>#{layoutMsg.layout_served_by}</span>
        </li>
    </ul>
</footer>