<f:view contentType="text/html; charset=UTF-8"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://java.sun.com/jstl/core"
	xmlns:u="http://code.google.com/p/ada-asf/util"
        xmlns:h="http://java.sun.com/jsf/html"><h:doctype rootElement="html"/>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!-- DYNAMO-MERGE-START link=#{contextPath}/css/porion.css -->
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/grids/reset.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/grids/fluid_grid.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/asf.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/awa.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.uiCssPath}/jquery-ui.structure.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.uiCssPath}/jquery-ui.theme.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{jquery.chosenCssPath}"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/frappe-charts.min.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/users.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/main.css"/>
    <link media="screen" type="text/css" rel="stylesheet" href="#{contextPath}/css/theme.css"/>
    <!-- DYNAMO-MERGE-END -->
    <ui:insert name="pageHeader"/>
    <title><h:outputText value="#{title}"/></title>
</head>
<body class="#{not empty pageStyle ? pageStyle : ''} #{top_nav}">

<!-- Top header with user account -->
<header>
    <ui:include src="top-bar.xhtml"/>
    <ui:insert name="pageNav"/>
</header>

<main>
    <ui:insert name="pageBody"/>
</main>
<ui:include src="footer.xhtml"/>

<ui:insert name="pageScript"/>
<u:flush/>
</body>
</html>
</f:view>
