<div class="nodes-header" xmlns:h="http://java.sun.com/jsf/html">
  <div class="node-title">
    <a href="#{contextPath}/nodes.html">
      Build nodes
    </a>
  </div>
  <input type='checkbox' id='porion-nodes-nav' class='awa-side-menu' />
  <label for='porion-nodes-nav' class='awa-hamb-menu'><span class='awa-hamb-line'></span></label>
  <nav class="awa-side-nav">
    <ul class="awa-menu">
      <li class="nodes-tab-summary">
        <a href="#{contextPath}/nodes.html">
          <span>Nodes</span>
        </a>
      </li>
      <li class="nodes-tab-queue">
        <a href="#{contextPath}/queue.html">
          <span>Queue</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
