<div class="node-header" xmlns:h="http://java.sun.com/jsf/html">
  <div class="node-title node-status-#{nodeStatus}">
    <a href="#{contextPath}/nodes.html">
      Build nodes
    </a>
    &gt;
    <span class="node-status"/>
    <span>#{nodeName}</span>
  </div>
  <input type='checkbox' id='porion-node-nav' class='awa-side-menu' />
  <label for='porion-node-nav' class='awa-hamb-menu'><span class='awa-hamb-line'></span></label>
  <nav class="awa-side-nav">
    <ul class="awa-menu">
        <li class="node-tab-summary">
            <a href="#{contextPath}/nodes/view/#{nodeName}/summary">
                <span>Summary</span>
            </a>
        </li>
        <li class="node-tab-queue">
            <a href="#{contextPath}/nodes/view/#{nodeName}/queue">
                <span>Queue</span>
            </a>
        </li>
        <li class="node-tab-builds">
            <a href="#{contextPath}/nodes/view/#{nodeName}/builds">
                <span>Builds</span>
            </a>
        </li>
        <li class="node-tab-tests">
            <a href="#{contextPath}/nodes/view/#{nodeName}/xunits">
                <span>Tests</span>
            </a>
        </li>
    </ul>
  </nav>
</div>
