<!-- Header bar at top of the page layout
  -  Copyright (C) 2021, 2022 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<div id='awa-hdr' xmlns:c="http://java.sun.com/jstl/core">
    <div id='porion-top'>
        <h2><span><a href="#{contextPath}/index.html">Porion Build Manager</a></span></h2>
        <c:if test="#{user.isLogged}">
          <input type='checkbox' id='porion-top-nav' class='awa-side-menu' />
          <label for='porion-top-nav' class='awa-hamb-menu'><span class='awa-hamb-line'></span></label>
          <nav id='awa-tools' class='awa-side-nav'>
            <ul class='awa-menu'>
                <li id='awa-logout'>
                  <a href="#{contextPath}/auth/logout.html"
                     title="#{layoutMsg.layout_logout_title}">
                    #{layoutMsg.layout_logout_label}
                </a></li>
                <c:if test="#{user.id eq 1}">
                  <li class='awa-nav-separator'></li>
                  <li id='awa-statistics'><a href="#{contextPath}/statistics.xml"
                                             title="#{layoutMsg.layout_statistics_title}">
                      #{layoutMsg.layout_statistics_label}
                  </a></li>
                </c:if>
                <li class='awa-nav-separator'></li>
                <li>
                  <a href="#{contextPath}/notifications/notification-summary.html" title="Notifications">
                    Notifications
                  </a>
                </li>
                <li class='awa-nav-separator'></li>
                <li>
                    #{user.name}
                </li>
                <c:if test="#{user.id eq 1}">
                  <li class='awa-nav-separator'></li>
                    <li>
                        <a href="#{contextPath}/workspaces/main.html" title="#{layoutMsg.layout_workspace_title}">
                            #{layoutMsg.layout_workspace_label}
                        </a>
                    </li>
                </c:if>
            </ul>
          </nav>
        </c:if>
    </div>
</div>
