<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="#{layoutMsg.homePageTitle}" />
  <ui:param name="pageStyle" value="page-dashboard"/>
  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{statLastBuilds.load}'/>
      <f:viewAction action='#{metricLastBuilds.load}'/>
      <f:viewAction action='#{nodeList.load}'/>
      <f:viewAction action='#{projectList.load}'/>
    </f:metadata>
    <ui:include src="dashboards/views/test-stats.xhtml"/>
    <ui:include src="dashboards/views/node-stats.xhtml"/>
    <ui:include src="dashboards/lists/projects-grid.xhtml"/>
  </ui:define>
</ui:composition>
