<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="Build nodes" />
  <ui:param name="pageStyle" value="page-nodes"/>
  <ui:param name="top_nav" value="page-summary"/>

  <ui:define name="pageNav">
    <ui:include src="/WEB-INF/layouts/nodes-header.xhtml"/>
  </ui:define>

  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{nodeList.load}'/>
    </f:metadata>
    <ui:include src="nodes/lists/nodes.xhtml"/>
  </ui:define>
</ui:composition>
