<!-- Project builds
  -  Copyright (C) 2022 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='project-build-list'>
      <div class='awa-list-header project-build-header'>
	<div class='awa-header-col build-status'/>
        <div class='awa-header-col build-number'>
          Number
        </div>
	<ui:insert name="list-header"/>
        <div class='awa-header-col build-branch-name'>
          Branch name
        </div>
        <div class='awa-header-col build-recipe'>
          Build recipe
        </div>
        <div class='awa-header-col build-tag'>
          Tag
        </div>
	<div class="awa-header-col build-xunit">
	  <div class="build-xunit-title">
	    Tests
	  </div>
          <div class='build-xunit-pass'>
            OK
          </div>
          <div class='build-xunit-fail'>
            KO
          </div>
          <div class='build-xunit-timeout'>
            timeout
          </div>
	</div>
        <div class='awa-header-col build-duration'>
          Build duration
        </div>
        <div class='awa-header-col build-date'>
          Build date
        </div>
      </div>

    <div class='awa-list'>
      <h:list var="build" value="#{builds}">
	<div class='awa-list-item project-build #{build.build_status}'>
	  <div class='build-status'/>
          <div class='build-number'>
            <a href="#{contextPath}/builds/view/#{build.name}:${build.branch_name}:#{build.build_number}/summary" title="Build #{build.build_number}">
              #{build.build_number}
            </a>
          </div>
	  <ui:insert name="list-item"/>
          <div class='build-branch-name'>
            #{build.branch_name}
          </div>
          <div class='build-recipe'>
            #{build.recipe_name}
          </div>
          <div class='build-tag'>
            #{fn:substring(build.build_tag, 0, 8)}
          </div>
	  <div class="build-xunit">
	    <a href="#{contextPath}/builds/view/#{build.name}:#{build.build_number}/xunits" title="Tests for #{build.build_number}">
              <span class='build-xunit-pass'>
		<h:outputText value="#{build.pass_count}" rendered="#{build.pass_count gt 0}"/>
              </span>
              <span class='build-xunit-fail'>
		<h:outputText value="#{build.fail_count}" rendered="#{build.fail_count gt 0}"/>
              </span>
              <span class='build-xunit-timeout'>
		<h:outputText value="#{build.timeout_count}" rendered="#{build.timeout_count gt 0}"/>
              </span>
	    </a>
	  </div>
          <div class='build-duration'>
            <h:outputText value="#{build.build_duration}">
              <f:converter converterId="millisecondConverter"/>
            </h:outputText>
          </div>
          <div class='build-date'>
            #{build.build_date}
          </div>
	</div>
      </h:list>
    </div>
  </div>
</ui:composition>
