<!-- Information about the project
  -  Copyright (C) 2021 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='build-top-title build-#{build.status}'>
    <div class="build-status"/>
    <div class='build-top-info'>
      <div class='build-info'>
        <span>
          Files:
          #{project.metrics.files.sum_value}
        </span>
        <span>
	  Disk space:
          <h:outputText value="#{(project.metrics.sizes.max_value * 1024)}">
            <f:converter converterId="sizeConverter"/>
          </h:outputText>
        </span>
      </div>
    </div>
  </div>
  <div class='build-info'>
    <ul class='build-info-line'>
      <li>
        <div class='dashboard-title'>
          Build progress
        </div>
        <div class='dashboard-value'>
          <h:outputText value="#{project.project.build_progress / 10}">
            <f:converter converterId="percentConverter"/>
          </h:outputText> %
        </div>
        <div class='dashboard-progress'>
          <w:progress value="#{project.project.build_progress}" maxValue="1000" />
        </div>
      </li>

      <li>
        <div class='dashboard-title'>
          Build success rate
        </div>
        <div class='dashboard-value'>
          <h:outputText value="#{project.project.build_rate / 10}">
            <f:converter converterId="percentConverter"/>
          </h:outputText> %
        </div>
        <div class='dashboard-progress build-progress'>
          <w:progress value="#{project.project.build_rate}" maxValue="1000" />
        </div>
      </li>

      <li>
        <div class='dashboard-title'>
          Tests
        </div>
        <div class='dashboard-value'>
          <h:outputText value="#{project.project.pass_rate / 10}">
            <f:converter converterId="percentConverter"/>
          </h:outputText> %
        </div>
        <div class='dashboard-progress'>
          <w:progress value="#{project.project.pass_rate}" maxValue="1000" />
        </div>
      </li>

      <h:panelGroup rendered="#{project.metrics.lines.count ne 0}">
      <li>
        <div class='dashboard-title'>
          Line coverage
        </div>
        <div class='dashboard-value'>
          <h:outputText value="#{(project.metrics.lines.sum_value) / (project.metrics.lines.count * 10)}">
            <f:converter converterId="percentConverter"/>
          </h:outputText> %
        </div>
        <div class='dashboard-progress'>
          <w:progress value="#{project.metrics.lines.sum_value}" maxValue="#{project.metrics.lines.count * 1000}" />
        </div>
      </li>
      </h:panelGroup>
      <h:panelGroup rendered="#{project.metrics.functions.count ne 0}">
        <li>
        <div class='dashboard-title'>
          Function coverage
        </div>
        <div class='dashboard-value'>
          <h:outputText value="#{(project.metrics.functions.sum_value) / (project.metrics.functions.count * 10)}">
            <f:converter converterId="percentConverter"/>
          </h:outputText> %
        </div>
        <div class='dashboard-progress'>
          <w:progress value="#{project.metrics.functions.sum_value}" maxValue="#{project.metrics.functions.count * 1000}" />
        </div>
      </li>
      </h:panelGroup>
    </ul>
  </div>
  <div id="project-lang-graph" class='porion-graph'>
    <u:script>
      let labels = [];
      let values = [];
      <h:list var="lang" value="#{project.metrics.cloc}">
        labels.push("#{lang.label}");
        values.push(#{lang.sum_value});
      </h:list>
      new Porion.BarGraph('project-lang-graph', '', labels, values);
    </u:script>
  </div>
  <div class='project-graph-view'>
    <div class='project-graph-title'>Test execution</div>
    <div id='project-xunits-graph' class='project-graph'/>

    <u:script>
    new Porion.TestChart({container: 'project-xunits-graph'}, '#{project.name}');
    </u:script>
  </div>
  <div class='project-graph-view'>
    <div class='project-graph-title'>Coverage</div>
    <div id='project-coverage-graph' class='project-graph'/>
    <u:script>
      new Porion.CoverageChart({container: 'project-coverage-graph'}, '#{project.name}');
    </u:script>
  </div>


</ui:composition>
