<!-- List of recipes queues for a build
  -  Copyright (C) 2022 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='queue-list'>
    <div class='awa-list-header queue-list-header'>
      <div class='awa-header-col queue-order'>
	Order
      </div>
      <ui:insert name="list-header"/>
      <div class='awa-header-col queue-recipe'>
        Recipe
      </div>
      <div class='awa-header-col queue-branch-tag'>
        Tag
      </div>
      <div class="awa-header-col queue-date">
	Date
      </div>
    </div>

    <div class='awa-list'>
      <h:list var="recipe" value="#{queue}">
	<div class="awa-list-item queued-recipe#{recipe.building ? ' queue-building' : ''}#{recipe.main_recipe ? ' queue-main' : ''}">
	  <div class='queue-order'>
	    #{recipe.order}
	  </div>
	  <ui:insert name="list-item"/>
          <div class='queue-recipe'>
            <a href="#{contextPath}/projects/view/#{recipe.project_name}/summary" title="Project #{recipe.project_name}">
              #{recipe.project_name}##{recipe.branch_name}~#{recipe.recipe_name}
	    </a>
          </div>
          <div class='queue-branch-tag'>
            #{fn:substring(recipe.branch_tag, 0, 8)}
          </div>
          <div class='queue-date'>
            #{recipe.creation_date}
          </div>
	</div>
      </h:list>
    </div>
  </div>
</ui:composition>
