<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:u="http://code.google.com/p/ada-asf/util"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:util="http://code.google.com/p/ada-asf/util"
                xmlns:c="http://java.sun.com/jstl/core"
                template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="#{node.name} - Summary" />
  <ui:param name="pageStyle" value="page-node"/>
  <ui:param name="top_nav" value="page-summary"/>

  <ui:define name="pageNav">
    <ui:include src="/WEB-INF/layouts/node-header.xhtml">
      <ui:param name="nodeName" value="#{node.name}"/>
      <ui:param name="nodeStatus" value="#{node.status}"/>
    </ui:include>
  </ui:define>

  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{node.load}'/>
    </f:metadata>
    <ui:include src="views/info.xhtml"/>
    <div class='project-graph-view'>
	    <div class='project-graph-title'>Build duration</div>
	    <div id='node-duration-graph' class='project-graph'/>
    </div>

    <div class='project-graph-view'>
	    <div class='project-graph-title'>User and system time usage</div>
	    <div id='node-usage-graph' class='project-graph'/>
    </div>

    <u:script>
        new Porion.NodeUsageChart({durationContainer: 'node-duration-graph', systemContainer: 'node-usage-graph'}, '#{node.name}');
    </u:script>
  </ui:define>

  <ui:define name="pageScript">
    <script type="text/javascript" src="#{contextPath}/js/frappe-charts.esm.js"></script> 
    <script type="text/javascript" src="#{contextPath}/js/nodes.js"></script>
  </ui:define>

</ui:composition>
