<!-- List of projects (grid).
  -  Copyright (C) 2021 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='dashboard-list'>
    <h:panelGroup rendered="#{projectList.count == 0}">
        #{porionMsg.porion_no_project_message}
    </h:panelGroup>
    <h:list var="project" value="#{projectList.projects}">
        <div class='project-page-grid' id="p_#{project.id}">
          <div class='project-page-grid-info build-status-${project.build_status}'>
            <div class='project-title'>
              <span class="project-build-status"/>
              <a href="#{contextPath}/projects/view/#{project.name}/summary" title="#{project.name}">
                <span class="project-page-title">#{project.name}</span>
              </a>
              <span class="project-progress-status"/>
            </div>
            <div class='project-build-info'>
              <ul>
                <li>
                  <div class='project-build-info-title'>
                    Build
                  </div>
                  <div class='project-build-info-value'>
                    <a href="#{contextPath}/builds/view/#{project.name}:#{project.build_number}/summary" title="Build #{project.build_number}">
                      #{project.build_number}
                    </a>
                  </div>
                </li>
                <li>
                  <div class='project-build-info-title'>
                    Progress
                  </div>
                  <div class='project-build-info-value'>
                    <h:outputText value="#{project.build_progress / 10}">
                      <f:converter converterId="percentConverter"/>
                    </h:outputText>%
                  </div>
                </li>
                <li>
                  <div class='project-build-info-title'>
                    Rate
                  </div>
                  <div class='project-build-info-value'>
                    <h:outputText value="#{project.build_rate / 10}">
                      <f:converter converterId="percentConverter"/>
                    </h:outputText>%
                  </div>
                </li>
                <li>
                  <div class='project-build-info-title'>
                    Tests
                  </div>
                  <div class='project-build-info-value'>
                    #{project.pass_count}/#{project.fail_count}/#{project.timeout_count}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </h:list>
  </div>
</ui:composition>
