<!-- Build steps
  -  Copyright (C) 2021 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='dashboard-list'>
    <div class="build-step build-step-header">
      <div class="build-step-number">
        Step
      </div>
      <div class="build-step-energy">
        CPU
      </div>
      <div class="build-step-duration">
        Duration
      </div>
      <div class="build-step-command">
        Command
      </div>
    </div>
    <h:list var="step" value="#{build.build_steps}">
      <div class="build-step build-step-#{step.kind} #{step.status eq 0 ? 'build-step-ok' : 'build-step-fail'}">
        <div class="build-step-number">
          #{step.number}
        </div>
        <div class="build-step-energy">
          <h:outputText value="#{step.user_time + step.sys_time}">
            <f:converter converterId="millisecondConverter"/>
          </h:outputText>
        </div>
        <div class="build-step-duration">
          <h:outputText value="#{step.step_duration}">
            <f:converter converterId="millisecondConverter"/>
          </h:outputText>
        </div>
        <div class="build-step-command">
          <h:outputText rendered="#{step.kind eq 'STEP_MAKE'}" value="#{u:parseJSON(step.parameters).command}"/>
          <h:outputText rendered="#{step.kind eq 'STEP_METRIC'}" value="#{u:parseJSON(step.parameters).metric} #{u:parseJSON(step.parameters).params}"/>
          <h:outputText rendered="#{step.kind eq 'STEP_TEST'}" value="#{u:parseJSON(step.parameters).includes[1]}"/>
        </div>
      </div>
    </h:list>
  </div>
</ui:composition>
