<!-- Information about the build node
  -  Copyright (C) 2022 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='node-info'>
    <div class='node-info-title'>
      Operating system
    </div>
    <div class='node-info-value'>
      #{node.os_name} #{node.os_version}
    </div>
  </div>
  <div class='node-info'>
    <div class='node-info-title'>
      CPU type
    </div>
    <div class='node-info-value'>
      #{node.cpu_type}
    </div>
  </div>
  <div class='node-info'>
    <div class='node-info-title'>
      Check rules
    </div>
    <div class='node-info-value'>
      #{node.check_rules}
    </div>
  </div>

</ui:composition>
