<ui:composition
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="#{project.name} - Build" />
  <ui:param name="pageStyle" value="page-project"/>
  <ui:param name="top_nav" value="page-builds"/>

  <ui:define name="pageNav">
    <ui:include src="/WEB-INF/layouts/build-header.xhtml">
      <ui:param name="projectName" value="#{build.project.name}"/>
    </ui:include>
  </ui:define>

  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{build.load}'/>
    </f:metadata>

    <ui:include src="views/info.xhtml"/>
    <ui:include src="lists/build-steps.xhtml"/>
    <div id='build-log' class='build-log build-show-warning'>
      <div class='build-log-header'>
        <ul>
          <li id='build-log-show-all'>
            Show all
            <span id='build-log-all-count' />
          </li>
          <li id='build-log-show-info'>
            Info
            <span id='build-log-info-count' />
          </li>
          <li id='build-log-show-warning'>
            Warnings
            <span id='build-log-warn-count' />
          </li>
        </ul>
      </div>
    </div>

    <u:script>
    new Porion.BuildLog({container: 'build-log', btnShowAll: 'build-log-show-all', btnShowInfo: 'build-log-show-info', btnShowWarning: 'build-log-show-warning',
    countAll: 'build-log-all-count', countInfo: 'build-log-info-count', countWarn: 'build-log-warn-count'}, '#{build.ident}');
    </u:script>
  </ui:define>
  <ui:define name="pageScript">
    <script type="text/javascript" src="#{contextPath}/js/builds.js"></script>
  </ui:define>
</ui:composition>
