<ui:composition
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  template="/WEB-INF/layouts/layout.xhtml">
  <ui:param name="title" value="#{project.name} - Tests" />
  <ui:param name="pageStyle" value="page-project"/>
  <ui:param name="top_nav" value="page-xunits"/>

  <ui:define name="pageNav">
    <ui:include src="/WEB-INF/layouts/build-header.xhtml">
      <ui:param name="projectName" value="#{build.project.name}"/>
    </ui:include>
  </ui:define>

  <!-- Main page body -->
  <ui:define name="pageBody">
    <f:metadata>
      <f:viewAction action='#{build.load}'/>
    </f:metadata>
    <ui:include src="views/info.xhtml" />

    <div id='build-xunits' class="build-xunits">
      <div class='awa-list-header xunit-header'>
        <div class='awa-header-col xunit-name'>
        </div>
        <div class='awa-header-col xunit-pass'>
          Pass
        </div>
        <div class='awa-header-col xunit-fail'>
          Fail
        </div>
        <div class='awa-header-col xunit-timeout'>
          Timeout
        </div>
        <div class='awa-header-col xunit-duration'>
          Duration
        </div>
      </div>
    </div>

    <u:script>
    new Porion.ProjectTests({container: 'build-xunits', build: '#{build.ident}'});
    </u:script>
  </ui:define>
  <ui:define name="pageScript">
    <script type="text/javascript" src="#{contextPath}/js/xunits.js"></script>
  </ui:define>
</ui:composition>
