<!-- Statistics about tests for all projects
  -  Copyright (C) 2021 Stephane Carrez
  -  Written by Stephane Carrez (Stephane.Carrez@gmail.com)
  -
  -  Licensed under the Apache License, Version 2.0 (the "License");
  -  you may not use this file except in compliance with the License.
  -  You may obtain a copy of the License at
  -
  -      http://www.apache.org/licenses/LICENSE-2.0
  -
  -  Unless required by applicable law or agreed to in writing, software
  -  distributed under the License is distributed on an "AS IS" BASIS,
  -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -  See the License for the specific language governing permissions and
  -  limitations under the License.
  -->
<ui:composition
  xmlns:awa="http://code.google.com/p/ada-awa/jsf"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:c="http://java.sun.com/jstl/core"
  xmlns:w="http://code.google.com/p/ada-asf/widget"
  xmlns:u="http://code.google.com/p/ada-asf/util"
  xmlns:h="http://java.sun.com/jsf/html">
  <div class='dashboard-stats'>
    <ul class='project-dashboard'>
      <li>
        <div class='dashboard-title'>
	  <a href="#{contextPath}/queue.html">
            Build Queue
	  </a>
        </div>
        <div class='dashboard-value'>
          #{nodeList.queue_count} on #{nodeList.queue_nodes} build nodes
        </div>
        <div class='dashboard-value'>
          <w:progress value="#{nodeList.queue_nodes}" maxValue="#{nodeList.count}"/>
        </div>
      </li>
      <li>
        <div class='dashboard-title'>
	  <a href="#{contextPath}/nodes.html">
            Build Nodes
	  </a>
        </div>
        <div class='dashboard-value'>
          #{nodeList.online_count} online on #{nodeList.count} build nodes
        </div>
        <div class='dashboard-value'>
          <w:progress value="#{nodeList.online_count}" maxValue="#{nodeList.count}"/>
        </div>
      </li>

      <li>
        <div class='dashboard-title'>
	  <a href="#{contextPath}/activity/view/week">
            Week activity
	  </a>
        </div>
        <div class='dashboard-value'>
          #{statLastBuilds.project_changed} projects
        </div>
        <div class='dashboard-value'>
          <w:progress value="#{statLastBuilds.project_changed}" maxValue="#{statLastBuilds.count}"/>
        </div>
      </li>

    </ul>
  </div>
</ui:composition>
